<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{koik.registreerumised}">koik.registreerumised</title>
    <th:block th:include="layout/header"></th:block>
</head>
<body>
<div class="container">
    <!-- search -->
    <div id="search_box">
        <div class="col-md-4">
            <form class="navbar-form" th:action="@{'/all/search' + ${key}}" method="get">
                <div class="input-group addon">
                    <input class="form-control" type="text" name="key" th:placeholder="#{otsi}" th:value="${key}"/>
                    <div class="input-group-append">
                        <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <h2 th:text="#{koik.registreerumised}">koik.registreerumised</h2>
    <!-- all registrations -->
    <div class="col-md-4" th:if="${#lists.isEmpty(regs)}">
        <div class="alert alert-info" role="alert" th:text="#{tyhjus}"></div>
    </div>
    <table class="table table-hover" th:if="${not #lists.isEmpty(regs)}">
        <thead class="thead-light">
        <tr>
            <th th:text="#{arsti.nimi}">arsti.nimi</th>
            <th th:text="#{visiidi.kuupaev}">visiidi.kuupaev</th>
            <th th:text="#{visiidi.kellaaeg}">visiidi.kellaaeg</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="reg : ${regs}">
            <td th:text="${reg.dentistName}">reg.dentistName</td>
            <!-- http://www.baeldung.com/dates-in-thymeleaf -->
            <td th:text="${#dates.format(reg.visitTime, 'dd-MM-yyyy')}">reg.visitTime</td>
            <td th:text="${#dates.format(reg.visitTime, 'HH:mm')}">reg.time</td> <!-- ${reg.time} -->
            <td><a th:href="${'/all/edit/' + reg.id}" class="btn btn-outline-secondary">Muuda</a></td>
            <td><a th:href="${'/all/delete/' + reg.id}" class="btn btn-outline-danger">Kustuta</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>