<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{kodu}">kodu</title>
    <th:block th:include="layout/header"></th:block>
</head>
<body>

<div class="container">
    <div class="jumbotron">
        <div class="row text-center">
            <div class="row">
                <h2>Dentist App</h2>
            </div>
        </div>
        <div class="row text-center">
            <h3>Improved version by Martin Luik</h3>
            <p></p>
            <h4>Abimaterjalid</h4>
            <ul class="list-group">
                <li class="list-group-item">Projekt, mis aitas thymeleaf-i mõista (...kind of): https://github.com/neocorp/spring-mvc-thymeleaf-crud</li>
                <li class="list-group-item">Datetime-locale: https://stackoverflow.com/questions/45629318/spring-with-thymeleaf-binding-date-in-html-form</li>
                <li class="list-group-item">Thymeleaf-i tut: http://www.thymeleaf.org/doc/tutorials/2.1/thymeleafspring.html</li>
                <li class="list-group-item">Thymeleaf-i doc: http://www.thymeleaf.org</li>
                <li class="list-group-item">Navbar ja search box: https://codepen.io/vubon/pen/raZZVg?editors=1100#0</li>
                <li class="list-group-item">Bootstrap: https://getbootstrap.com</li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>