<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{kodu}">kodu</title>
    <th:block th:include="layout/header"></th:block>
</head>
<body>
<div class="container">
    <div id="index_jumbo">
        <div class="jumbotron">
            <div class="text-center">
                <h2>Dentist App</h2>
            </div>
            <div class="text-center">
                <h3>Improved version by Martin Luik</h3>
            </div>
            <div class="text-center">
                <h4>Abimaterjalid</h4>
            </div>
            <div class="table-responsive-md">
                <ul class="list-group">
                    <li class="list-group-item"><a href="https://github.com/neocorp/spring-mvc-thymeleaf-crud">Projekt, mis aitas thymeleaf-i mõista</a></li>
                    <li class="list-group-item"><a href="http://www.thymeleaf.org">Thymeleafi doc</a></li>
                    <li class="list-group-item"><a href="https://getbootstrap.com">Bootstrap 4</a> ja <a href="https://www.w3schools.com/bootstrap4/default.asp">w3schools</a></li>
                    <li class="list-group-item"><a href="https://stackoverflow.com/questions/12107503/adding-error-message-to-spring-3-databinder-for-custom-object-fields">Veateated</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>